.dropbtn {
    background-color: #aa3004;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: index 9; ;
   float: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display:block; }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #8e573e;}
  .right{
    float: right;
    /* margin: 5px; */
  }
  .right a{
    text-decoration: none;
    margin: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    color: orange;
    display: flexbox;
  }
  .right a:hover{
    color: #aa3004;
  }
  .middle{
    float: left;
    margin: 12px;
  }
  .animal{
    float: left;
    margin: 5px;
  }
  .desti{
    float: left;
    display:flex;
    margin: 25px;
  }
  img:hover{
    transform: scale(1.2);
    /* box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.621); */
  }
  .inter{
    float: left;
    margin: 25px;
  }
  .trend{
    float: left;
    margin: 20px;
  }
  .image{
    /* margin: 25px; */
    text-align: center;
  }
  form{
    background-color: rgba(240, 251, 255, 0.867);
  }
  .book
  {
    float: left;
    /* margin: 50px; */
    /* background-color: #ddd; */
  }
  h3 a:hover{
  color: rgba(165, 81, 42, 0.799);
  }
  .flow{
    float: left;
    margin: 10px;
  }

  .foot{
    background-color:rgba(0, 255, 38, 0.751);
  margin: 25px;
    text-align:start;
  /* margin-top: px; */
  }
  .info{
    float: left;
    margin: 20px;
  }
  .icon a{
    margin: 5px;
    font-size: 60x;
  }
.icon a:hover{
  background-color: orange;
}